@model Chord

<body>
    <header>
    </header>
    <section>
        <div class="main">
            <h1 class="display-4">ChordFind</h1>
            @if (Model.Name.Length > 1 && (Model.Name[1] == 'b' || Model.Name[1] == '#'))
            {
                Model.Accidental = Model.Name[1].ToString();
                Model.Tone = Model.Name[0].ToString() + Model.Accidental;
            }
            else { Model.Tone = Model.Name[0].ToString(); }
            
            @if (Model.Name.Length > 1 && Model.Name[1] == 'b')
            {
                if (Model.TonesFlat.Contains(Model.Tone.ToLower()))
                {
                    int index = Model.TonesFlat.FindIndex(x => x.Contains(Model.Tone.ToLower()));
                    var intervals = new List<int>() { 2, 2, 1, 2, 2, 2 };
                    Model.Index.Add(Model.TonesFlat[index]);
                    foreach (var num in intervals)
                    {
                        index += num;
                        if (index >= 12)
                        {
                            index -= 12;
                        }
                        Model.Index.Add(Model.TonesFlat[index]);
                    }
                }
            }
            else if (Model.Tones.Contains(Model.Tone.ToLower()))
            {
                int index = Model.Tones.FindIndex(x => x.Contains(Model.Tone.ToLower()));
                var intervals = new List<int>() { 2, 2, 1, 2, 2, 2 };
                Model.Index.Add(Model.Tones[index]);
                foreach (var num in intervals)
                {
                    index += num;
                    if (index >= 12)
                    {
                        index -= 12;
                    }
                    Model.Index.Add(Model.Tones[index]);
                }
            }
            @foreach (var i in Model.Index)
            {
                <p style="display: inline-block">@i.ToUpper()  </p>
            }
            <br>
            <form asp-action="ChordSearch" asp-controller="Home" method="post">
                <br />
                <label for="ctext">Chord Name:</label>
                <input type="text" id="ctext" name="Name" value="@Model.Name" />
                <button type="submit">Search</button>

                <br />
                <br />

               @* <p>Or</p>

                <label for="cselect">Select:</label>
                <select name="Tone" id="cselect">
                    <option value="c">C</option>
                    <option value="c#">C#</option>
                    <option value="d">D</option>
                    <option value="d#">D#</option>
                    <option value="e">E</option>
                    <option value="f">F</option>
                    <option value="f#">F#</option>
                    <option value="g">G</option>
                    <option value="g#">G#</option>
                    <option value="a">A</option>
                    <option value="a#">A#</option>
                    <option value="b">B</option>
                </select>
                <select name="Type">
                    <option value="none"></option>
                    <option value="maj">maj</option>
                    <option value="m">m</option>
                    <option value="dim">dim</option>
                    <option value="aug">aug</option>
                    <option value="sus">sus</option>
                </select>
                <select name="Extension">
                    <option value="none"></option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="6/9">6/9</option>
                    <option value="7">7</option>
                    <option value="7b5">7b5</option>
                    <option value="9">9</option>
                    <option value="11">11</option>
                    <option value="13">13</option>
                </select>

                <br />
                <br />*@
                <label for="">Instrument:</label>
                <input type="radio" id="both" name="Inst" value="both" checked="checked" />
                <label for="both">Both</label>
                <input type="radio" id="guit" name="Inst" value="guitar" />
                <label for="guit">Guitar</label>
                <input type="radio" id="piano" name="Inst" value="piano" />
                <label for="piano">Piano</label>

                <br />
                <br />

                <label for="progMenu">Chord Progression:</label>
                @*<input type="radio" id="none" name="Progression" value="none" checked="checked"/>
                <label for="none">None</label>
                <input type="radio" id="3" name="Progression" value="triads" />
                <label for="3">Triads</label>
                <input type="radio" id="7" name="Progression" value="sevenths" />
                <label for="7">7th chords</label>
                <input type="radio" id="tone" name="Progression" value="tone" />
                <label for="tone">Tone Chords</label>*@
                <select id="progMenu" name="Progression">
                    @foreach (var prog in Model.Progressions)
                    {
                        <option value="@prog">@prog</option>
                    }
                </select>

                <br />
                <br />
            </form>

            <br />
            <br />



                <div class="mainChord">
                    <h2>@Model.Name</h2>
                <br />
                @if (@Model.Inst == "both" || @Model.Inst == "guitar")
                {
                    <ins class="scales_chords_api" chord="@Model.Name" output="sound"></ins>
                    <ins class="scales_chords_api" chord="@Model.Name" height="170"></ins>
                }
                @if (@Model.Inst == "both" || @Model.Inst == "piano")
                {
                    <ins class="scales_chords_api" chord="@Model.Name" instrument="piano" output="sound"></ins>
                    <ins id="pmain" class="scales_chords_api" chord="@Model.Name" instrument="piano" height="170"></ins>
                }
            </div>
        </div>

        <br>
        <br>
        <section id="chords">
            @if (Model.Progression == "7th Chords" && (Model.Inst == "guitar" || Model.Inst == "both"))
            {
                <div id="diatonProg" >
                    <h3>Diatonic 7th Chords: Guitar</h3>
                <div class="diag" style="border-color:#63f542;">
                        <ins class="scales_chords_api" chord="@Model.Tone maj7"></ins>
                    <p>
                        (I) Tonic
                        <ins class="scales_chords_api" chord="@Model.Tone maj7" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                    <ins class="scales_chords_api" chord="@Model.Index[1] m7"></ins>
                    <p>
                        (ii) Supertonic
                        <ins class="scales_chords_api" chord="Dm7" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                    <ins class="scales_chords_api" chord="@Model.Index[2] m7"></ins>
                    <p>
                        (iii) Mediant
                        <ins class="scales_chords_api" chord="Em7" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                    <ins class="scales_chords_api" chord="@Model.Index[3] maj7"></ins>
                    <p>
                        (IV) Sub-Dominant
                        <ins class="scales_chords_api" chord="Fmaj7" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                        <ins class="scales_chords_api" chord="@Model.Index[4]7"></ins>
                    <p>
                        (V) Dominant
                        <ins class="scales_chords_api" chord="G7" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                    <ins class="scales_chords_api" chord="@Model.Index[5] m7"></ins>
                    <p>
                        (vi) Sub-Mediant
                        <ins class="scales_chords_api" chord="Am7" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                        <ins class="scales_chords_api" chord="@Model.Index[6]m7b5"></ins>
                    <p>
                        (vii) Subtonic
                        <ins class="scales_chords_api" chord="Bm7b5" output="sound"></ins>
                    </p>
                </div>
            </div>
            }
          @*  <br>
            <br>
            <br>*@
            @if (Model.Progression == "7th Chords" && (Model.Inst == "piano" || Model.Inst == "both"))
            {
                <div id="diatonProg" >
                    <h3>Diatonic 7th Chords: Piano</h3>
                <div class="diag" style="border-color:#63f542;">
                        <ins class="scales_chords_api" chord="@Model.Tone maj7" instrument="piano" height="115"></ins>
                    <p>
                        (I) Tonic
                            <ins class="scales_chords_api" chord="@Model.Tone maj7" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                        <ins class="scales_chords_api" chord="@Model.Index[1]m7" instrument="piano" height="115"></ins>
                    <p>
                        (ii) Supertonic
                            <ins class="scales_chords_api" chord="@Model.Index[1]m7" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                        <ins class="scales_chords_api" chord="@Model.Index[2]m7" instrument="piano" height="115"></ins>
                    <p>
                        (iii) Mediant
                            <ins class="scales_chords_api" chord="@Model.Index[2]m7" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                        <ins class="scales_chords_api" chord="@Model.Index[3]maj7" instrument="piano" height="115"></ins>
                    <p>
                        (IV) Sub-Dominant
                            <ins class="scales_chords_api" chord="@Model.Index[3]maj7" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                    <ins class="scales_chords_api" chord="@Model.Index[4]7" instrument="piano" height="115"></ins>
                    <p>
                        (V) Dominant
                            <ins class="scales_chords_api" chord="@Model.Index[4]7" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                        <ins class="scales_chords_api" chord="@Model.Index[5]m7" instrument="piano" height="115"></ins>
                    <p>
                        (vi) Sub-Mediant
                            <ins class="scales_chords_api" chord="@Model.Index[5]m7" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                        <ins class="scales_chords_api" chord="@Model.Index[6]m7b5" instrument="piano" height="115"></ins>
                    <p>
                        (vii) Subtonic
                            <ins class="scales_chords_api" chord="@Model.Index[6]m7b5" instrument="piano" output="sound"></ins>
                    </p>
                </div>
            </div>
            }
            @*triads*@
            
            @if (Model.Progression == "Triads" && (Model.Inst == "guitar" || Model.Inst == "both"))
            {
                <div id="diatonProg" >
                    <h3>Diatonic Triads: Guitar</h3>
                <div class="diag" style="border-color:#63f542;">
                        <ins class="scales_chords_api" chord="@Model.Tone"></ins>
                    <p>
                        (I) Tonic
                            <ins class="scales_chords_api" chord="@Model.Tone" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                        <ins class="scales_chords_api" chord="@Model.Index[1]m"></ins>
                    <p>
                        (ii) Supertonic
                        <ins class="scales_chords_api" chord="@Model.Index[1]m" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                        <ins class="scales_chords_api" chord="@Model.Index[2]m"></ins>
                    <p>
                        (iii) Mediant
                            <ins class="scales_chords_api" chord="@Model.Index[2]m" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                        <ins class="scales_chords_api" chord="@Model.Index[3]"></ins>
                    <p>
                        (IV) Sub-Dominant
                            <ins class="scales_chords_api" chord="@Model.Index[3]" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                        <ins class="scales_chords_api" chord="@Model.Index[4]"></ins>
                    <p>
                        (V) Dominant
                            <ins class="scales_chords_api" chord="@Model.Index[4]" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                    <ins class="scales_chords_api" chord="@Model.Index[5]m"></ins>
                    <p>
                        (vi) Sub-Mediant
                            <ins class="scales_chords_api" chord="@Model.Index[5]m" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                        <ins class="scales_chords_api" chord="@Model.Index[6]dim"></ins>
                    <p>
                        (vii) Subtonic
                            <ins class="scales_chords_api" chord="@Model.Index[6]dim" output="sound"></ins>
                    </p>
                </div>
            </div>
            }
         @*   <br>
            <br>
            <br>*@
            @if (Model.Progression == "Triads" && (Model.Inst == "piano" || Model.Inst == "both"))
            {
                <div class="diatonProg">
                    <h3>Diatonic Triads: Piano</h3>
                <div class="diag" style="border-color:#63f542;">
                        <ins class="scales_chords_api" chord="@Model.Tone" instrument="piano" height="115"></ins>
                    <p>
                        (I) Tonic
                            <ins class="scales_chords_api" chord="@Model.Tone" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                        <ins class="scales_chords_api" chord="@Model.Index[1]m" instrument="piano" height="115"></ins>
                    <p>
                        (ii) Supertonic
                        <ins class="scales_chords_api" chord="@Model.Index[1]m" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                    <ins class="scales_chords_api" chord="@Model.Index[2]m" instrument="piano" height="115"></ins>
                    <p>
                        (iii) Mediant
                        <ins class="scales_chords_api" chord="@Model.Index[2]m" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                    <ins class="scales_chords_api" chord="@Model.Index[3]" instrument="piano" height="115"></ins>
                    <p>
                        (IV) Sub-Dominant
                        <ins class="scales_chords_api" chord="@Model.Index[3]" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                    <ins class="scales_chords_api" chord="@Model.Index[4]" instrument="piano" height="115"></ins>
                    <p>
                        (V) Dominant
                        <ins class="scales_chords_api" chord="@Model.Index[4]" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#40a3f5;">
                    <ins class="scales_chords_api" chord="@Model.Index[5]m" instrument="piano" height="115"></ins>
                    <p>
                        (vi) Sub-Mediant
                        <ins class="scales_chords_api" chord="@Model.Index[5]m" instrument="piano" output="sound"></ins>
                    </p>
                </div>
                <div class="diag" style="border-color:#ed2438;">
                    <ins class="scales_chords_api" chord="@Model.Index[6]dim" instrument="piano" height="115"></ins>
                    <p>
                        (vii) Subtonic
                        <ins class="scales_chords_api" chord="@Model.Index[6]dim" instrument="piano" output="sound"></ins>
                    </p>
                </div>
            </div>
            }

            @if (Model.Progression == "Tone Chords" && (Model.Inst == "both" || Model.Inst == "guitar"))
            {
                <div class="diatonProg">
                    <h3>Tone Chords: Guitar</h3>

                @foreach (var name in Model.ToneChords)
                {
                    <div class="chordtones">

                        <p>
                           @Model.Tone@name
                                <ins class="scales_chords_api" chord="@Model.Tone@name" instrument="guitar" output="sound"></ins>
                        </p>
                        <ins class="scales_chords_api" chord="@Model.Tone@name" instrument="guitar" ></ins>
                    </div>
                }
                </div>
            }
            @if (Model.Progression == "Tone Chords" && (Model.Inst == "both" || Model.Inst == "piano"))
            {
                <div class="diatonProg">
                    <h3>Tone Chords: Piano</h3>

                    @foreach (var name in Model.ToneChords)
                    {
                        <div class="chordtones">

                            <p>
                                @Model.Tone@name
                                <ins class="scales_chords_api" chord="@Model.Tone@name" instrument="piano" output="sound"></ins>
                            </p>
                            <ins class="scales_chords_api" chord="@Model.Tone@name" instrument="piano" height="115"></ins>
                        </div>
                    }
                </div>
            }
        </section>
    </section>
</body>

<style>
    ins {
        margin: 5px;
        /*margin-right: 5px*/
    }

    h2 {
        border: 3px solid lightgray;
        width: 200px;
        margin-left: 42%;
    }

    body {
        text-align: center;
    }

    .diatonProg {
        width: fit-content;
        /*border: 3px solid lightgray;
            border-radius: 50px;*/
        margin: 5px;
        display:inline-block;
    }

    form {
        border: 3px solid lightgray;
        border-radius: 50px;
        width: 400px;
        margin-left: 35%;
    }

    #chords {
        /*display: flex;
        justify-content: center;*/
        width:contain;
        height:contain;
    }

    .diag{
        border: 3px lightgray solid;
        border-radius: 10px;
        text-align: left;
        width: fit-content;
        margin: 2px;
        display: inline-block;
    }

    .chordtones{
        text-align:center;
        border: 3px lightgray solid;
        border-radius: 10px;
        width: fit-content;
        margin: 2px;
        display:inline-block;
    }

</style>
@section Scripts {
    <script async type="text/javascript" src="https://www.scales-chords.com/api/scales-chords-api.js"></script>

}